#spinner

= form_for(@company) do |f|
  - if @company.errors.any?
    #form_errors.row
      .col-md-12
        .column_padding
          #error_explanation.alert.alert-dismissable.alert-danger
            %button.close{"data-dismiss" => "alert", type: "button"} ×
            %p
              = pluralize(@company.errors.count, "error")
              prohibited this company from being saved:
            %ul
              - @company.errors.full_messages.each do |msg|
                %li= msg
  .row
    .col-md-4
      .column_padding
        %h3 Basic Information
        .field
          = f.label :name, "Company Name", class: "form_label"
          %br/
          = f.text_field :name, :autocomplete => :off
        .field
          = f.label :reg_co_num, "Registered Company Number", class: "form_label"
          %br/
          = f.text_field :reg_co_num, :autocomplete => :off
        .field
          = f.select( :duedil_locale, ["UK", "ROI"], {include_blank: "Country"})
        .field
          = f.label :incorporation_date, class: "form_label"
          %br/
          = f.text_field :incorporation_date, class: "datepicker", :autocomplete => :off
        .field
          = f.label :description, "Description", class: "form_label"
          %br/
          = f.text_area :description, class: "company_description", :autocomplete => :off
        .field
          = f.label :employee_count,  "Number of Employees", class: "form_label"
          %br/
          = f.text_field :employee_count, :autocomplete => :off
        = f.hidden_field :duedil_co_url

    .col-md-4
      .column_padding
        %h3 Registered Address
        .field
          = f.label :reg_address1, "Address Line 1", class: "form_label"
          %br
          = f.text_field :reg_address1, :autocomplete => :off
        .field
          = f.label :reg_address1, "Address Line 2", class: "form_label"
          %br
          = f.text_field :reg_address2, :autocomplete => :off
        .field
          = f.label :reg_address1, "Address Line 3", class: "form_label"
          %br
          = f.text_field :reg_address3, :autocomplete => :off
        .field
          = f.label :reg_address1, "Address Line 4", class: "form_label"
          %br
          = f.text_field :reg_address4, :autocomplete => :off
        .field
          = f.label :reg_address_postcode, "Postcode", class: "form_label"
          %br/
          = f.text_field :reg_address_postcode, :autocomplete => :off

    .col-md-4
      .column_padding
        %h3 Financials
        .field
          = f.select(:currency, ["GBP", "EUR"], {include_blank: "Currency"})
        .field
          = f.label :turnover, class: "form_label"
          %br
          = f.text_field :turnover, :autocomplete => :off
        .field
          = f.label :shareholders_funds, "Shareholders' Funds", class: "form_label"
          %br
          =f.text_field :shareholders_funds, :autocomplete => :off

        %h3 Contact Information
        .field
          = f.label :website, class: "form_label"
          %br/
          = f.text_field :website, :autocomplete => :off
        .field
          = f.label :email, "Email Address", class: "form_label"
          %br/
          = f.text_field :email, :autocomplete => :off
        .field
          = f.label :phone, "Phone Number", class: "form_label"
          %br/
          = f.text_field :phone, :autocomplete => :off


  .row
    .col-md-12
      .column_padding
        .actions
          = f.submit "Submit", class: "btn btn-success button_position"
          - if @editing
            = link_to 'DueDil Refresh', edit_company_path(@company), class: "btn btn-danger button_position data_refresh"

