<h1>Listing companies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Duedil co url</th>
    <th>Duedil locale</th>
    <th>Incorporation date</th>
    <th>Reg co num</th>

    <th>Reg address1</th>
    <th>Reg address2</th>
    <th>Reg address3</th>
    <th>Reg address4</th>
    <th>Reg address postcode</th>
    <th>Phone</th>
    <th>Website</th>
    <th>Email</th>
    <th>Currency</th>
    <th>Employee count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.name %></td>
    <td><%= company.description %></td>
    <td><%= company.duedil_co_url %></td>
    <td><%= company.duedil_locale %></td>
    <td><%= company.incorporation_date %></td>
    <td><%= company.reg_co_num %></td>

    <td><%= company.reg_address1 %></td>
    <td><%= company.reg_address2 %></td>
    <td><%= company.reg_address3 %></td>
    <td><%= company.reg_address4 %></td>
    <td><%= company.reg_address_postcode %></td>
    <td><%= company.phone %></td>
    <td><%= company.website %></td>
    <td><%= company.email %></td>
    <td><%= company.currency %></td>
    <td><%= company.employee_count %></td>
    <td><%= link_to 'Show', company %></td>
    <td><%= link_to 'Edit', edit_company_path(company) %></td>
    <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
