- if flash[:notice]
  #notice.alert.alert-dismissable.alert-success
    %button.close{"data-dismiss" => "alert", type: "button"} ×
    = notice
.row
  .col-md-6
    .column_padding
      %h1
        = pretty_name_string(@company)
      - unless @company.description.blank?
        %h4
          = @company.description

      %p
        ="Company Number: #{@company.reg_co_num}"
        - if @company.duedil_locale
          = "#{@company.duedil_locale.upcase}"
        - unless @company.incorporation_date.blank?
          %br
          = "Incorporated: #{@company.incorporation_date.to_formatted_s(:long_ordinal)}"
        - unless registered_address_string(@company.reg_address1, @company.reg_address2, @company.reg_address3, @company.reg_address4, @company.reg_address_postcode).blank?
          %br
            ="Registered Address: #{registered_address_string(@company.reg_address1, @company.reg_address2, @company.reg_address3, @company.reg_address4, @company.reg_address_postcode)}"
      - unless @company.website.blank?
        %h3
          =@company.website.downcase

      - unless @company.email.blank?
        ="Email: #{@company.email.downcase}"
        %br
      - unless @company.phone.blank?
        ="Phone: #{@company.phone}"



      - unless @company.shareholders_funds.blank?
        %h4
          Shareholders Funds:
          = "#{currency(@company)}#{financials(@company.shareholders_funds)}"
      - unless @company.turnover.blank?
        %h4
          Turnover:
          = "#{currency(@company)}#{financials(@company.turnover)}"
      - unless @company.employee_count.blank?
        %h4
          Employees:
          = @company.employee_count
  .col-md-6
    #directors.column_padding
      = render 'directors'
.row
  .col-md-12
    .column_padding
      .actions.page_bottom
        = link_to 'Edit', edit_company_path(@company), class: "btn btn-info button_position"
        = link_to 'Back', companies_path, class: "btn btn-default button_position"

