<h1>Listing directorships</h1>

<table>
  <tr>
    <th>Director</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @directorships.each do |directorship| %>
  <tr>
    <td><%= directorship.director %></td>
    <td><%= directorship.company %></td>
    <td><%= link_to 'Show', directorship %></td>
    <td><%= link_to 'Edit', edit_directorship_path(directorship) %></td>
    <td><%= link_to 'Destroy', directorship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Directorship', new_directorship_path %>
